Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
bcrypt==4.2.0
Werkzeug==3.0.6

numpy==1.26.4
scipy==1.13.1
librosa==0.10.2.post1
soundfile==0.12.1
python_speech_features==0.6

tensorflow==2.16.2
scikit-learn==1.4.2

plotly==5.22.0
pandas==2.2.2

gunicorn==22.0.0